@using Microsoft.AspNetCore.Components;
@using MagicVilla_Web.Models.ViewModels.VillaViewModels;
@model IEnumerable<VillaViewModel>

<img class="d-block w-100" src="images/home/slide1.webp" alt="" />

<hr />
<div class="row" style="--bs-gutter-x:0">

    @foreach (var villa in Model)
    {
        <div class="row" style="border-radius:20px; border:1px solid #ffff">

            <div class="col-4" style="margin-top: 1rem">
                <img class="d-block w-100" style="border-radius:20px; height:220px; object-fit:cover" src="@villa.ImageUrl" alt="First Slide">
            </div>

            <div class="col-8" style="margin-top: 1rem">
                <p class="card-title text-warning" style="font-size:xx-large"> @villa.Name</p>
                <p class="card-text">

                    @((MarkupString)villa.Detail))

                </p>
                <div class="col-4">
                    <span class="">Max occupancy : @villa.Occupancy adults </span><br />
                    <span class="pt-1"> Rate : @villa.Rate </span><br />
                    <span class="text-warning fw-bold pt-1" style="font-size:25px;">
                        USD

                        <span style="border-bottom: 1px solid #ff6a00">
                            @villa.Price.ToString("c")
                        </span>
                    </span>
                </div>
            </div>

            <div class="col-12" >

                <div class="row pb-3 pt-2">

                    <div class="col-4">
                        <a href="" class="btn btn-success form-control btn-block ">Book</a>
                    </div>

                </div>

            </div>

        </div>
    }

</div>



