@model MagicVilla_Web.Models.ViewModels.VillaViewModel

<form asp-action="DeleteVilla">

    <br />
    <div class="container border p-3">
        <h1 class=" text-primary"> Delete </h1>

        <hr />
        <input hidden asp-for="Id" />
        <div class="row">

            <div asp-validation-summary="ModelOnly" class=" text-danger"></div>
            <div class="col-2">
                <label asp-for="Name" class=" control-Label pt-2" style="font-size : 20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Name" disabled class="form-control" value="@Model.Name" />
            </div>

            <div class="col-2">
                <label asp-for="Detail" class=" control-Label pt-2" style="font-size : 20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <textarea asp-for="Detail" disabled class="form-control" value="@Model.Detail" rows="5"></textarea>
            </div>

            <div class="col-2">
                <label asp-for="Rate" class=" control-Label pt-2" style="font-size : 20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Rate" disabled class="form-control" value="@Model.Rate" />
            </div>

            <div class="col-2">
                <label asp-for="Price" class=" control-Label pt-2" style="font-size : 20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Price" disabled class="form-control" value="@Model.Price" />
            </div>

            <div class="col-2">
                <label asp-for="Occupancy" class=" control-Label pt-2" style="font-size : 20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Occupancy" disabled class="form-control" value="@Model.Occupancy" />
            </div>

            <div class="col-2">
                <label asp-for="ImageUrl" class=" control-Label pt-2" style="font-size : 20px;"></label>

            </div>
            <div class="col-10 pb-3">
                <input asp-for="ImageUrl" disabled class="form-control" value="@Model.ImageUrl" />
            </div>

            <div class="col-2">
                <label asp-for="Amenity" class=" control-Label pt-2" style="font-size : 20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <textarea asp-for="Amenity" disabled class="form-control" value="@Model.Amenity" rows="5"></textarea>
            </div>

            <div style="display:flex;flex-direction:row-reverse;gap:1rem">
                <div>
                    <input type="submit" value="Delete" class="btn btn-danger form-control" />
                </div>
                <div>
                    <a asp-action="IndexVilla" asp-controller="Villa" class="btn-primary btn form-control"> Back to List</a>
                </div>
            </div>

        </div>
    </div>

</form>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}

